<h1>My Todos</h1>

<div id="priceQuoteContainer"> 
    <div id="currentPrice"> </div>
    <button id="confirmPurchaseBtn"> Confirm </button>
    <button id="cancelPurchaseBtn"> Cancel </button>
</div>






<form id="buyStock" action="/todos" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="7q/uAGwB7Pa8/rdAEbhYr4F28B1jxb+BhrbTbImY2fDLrx/VSyqmXyDBVzYf7Cx7R4Qmn5ayemlDuEWLZ3jWAA==">
<div class="form-group">
<input placeholder="Ticker Symbol" type="text" id="realTickerSymbol">
</div>

<div class="form-group">
<input placeholder="Quantity" type="text" id="realQuantity">
</div>


  <div class="form-group">
  <input id"getPriceButton" type="submit" name="commit" value="Get Price">
  </div>
</form>

<br>

<form class="new_todo" id="hidden-purchase-form" action="/todos" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="XLi+0TbvxGxEm5kqP0nXE2PCTwRtXhUjiBd8P+0ZWtF5uE8EEcSOxdikeVwxHaPHpTCZhpgp0MtNGerYA/lVIQ==">
  <div class="form-group">
    <input placeholder="Ticker Symbol" type="text" name="todo[description]" id="todo_description">
  </div>

  <div class="form-group">
    <input placeholder="Quantity" type="text" name="todo[priority]" id="todo_priority">
  </div>


  <div class="form-group">
  <input id="hiddenBuyButton" type="submit" name="commit" value="Hidden Buy Button">
  </div>
</form>


 

<ul>
<%= render @todos %>
</ul>



