// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden-form {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#priceQuoteContainer {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#currentPrice {
    height: 50%;
    width: 100%;
    border: 1px solid black;
}